.main{
    background-size:cover;
    min-height: 200vh;
    background-position: center;

}

#bg2 {
    background-image: url(./assets/the-games-bg.jpg);
    background-size: 100% 100%;
    color: white;
    position: relative;
    width: 100%;
}

.up-case {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 70px;
}

.margin-bg2 {
    margin-top: 200px;
    margin-left: 70px;
    font-size: 25px;
}

.flex-row-pics {
    display: flex;
    flex-direction: row;
}

#image-bg2 {
    margin-top: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 70%;
    margin-bottom: 170px;
}

.resize {
    width: 98%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.no-margin {
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

#bg3 {
    background-image: url(./assets/features.jpg);
    background-size: 100% 100%;
    color: white;
    position: relative;
    width: 100%;
}


.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.manusia{
    margin-top: 20vh;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.flex-row {
    display: inline-flex;
    flex-direction: row;
}

.center_orange {
    margin-left: 25px;
    color: #F0AD4E;
    margin-top: 13px;
    font-size: 20px;
}

.text {
    word-wrap: normal;
    width: 300px;
    padding: 12px 0px 4px 35px;
    vertical-align: text-top;
    margin-left: 8px;
    border-left: 2px solid white;
}

#akhir {
    margin-bottom: 30vh;
}

.req-margin{
    margin-top : 50px;
}

.req-font{
    font-size: 56px;
    font-family:"Open Sans",Arial;
}

#bg4{
    background-image: url(./assets/requirements.png);
    background-size: 100% 100%;
    width:100%;
    position:relative;
    color: white;
    background-attachment: initial;
    background-position: center top;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .margin-specification {
      margin-top : 30px;
  }

  .border_blur{
      border :1px solid rgba(56, 50, 55, 0.6);
  }

  .bit-size {
      font-size: 14px;
  }

  .orange-big{
      margin-top: 10px;
      color:#F0AD4E;
      font-size : 18px;
  }

  .margin-page4{
      margin-bottom: 150px;
  }

  #page-5{
    background-image: url(./assets/top-score-bg.png);
    background-size: 100% 100%;
    color : white;
    position: relative;
    width: 100%;
  }

  .image-moon{
    border-radius: 10%;
    box-shadow: 5px 2px orange;
  }

  .twitter{
    align-content:flex-end; 
    max-width:18px; 
    max-height:12px; 
    margin-top:10px; 
    margin-left: 70px;
  }

  .prof-pic{
    max-width: 50px; 
    max-height: 50px;
  }

  .border-embed{
    background-color: rgba(56, 50, 55, 0.6);
    padding:10px 10px 2px 10px;
    border-radius:8px;
    margin-bottom : 25px;
  }

  .margin-to-left{
      margin-left: 50px;
  }

  .player-name{
    color:#F0AD4E; 
    font-family:"Open Sans"; 
    font-weight:normal;
    font-size:25px;
    margin-bottom:0;
 
  }

  .player-comment{
    margin-top : 20px;
    font-size:20px;    
    font-family:"Open Sans";  
  }

  .name-col{
    display:flex;
    flex-direction:column; 
    margin-left: 15px; 
    min-width : 150px;
  }

  .grey-color{
      color: #808080;
      font-size: 15px;
  }

  #last-page{
    font-family: "Open Sans";
    background-color: black;
    background-image: url(./assets/top-score-bg\(2\).png);
    background-size: 100% 100%;
    color : white;
    position: relative;
    width: 100%;
  }
  
  #email{
      font-size:18px;
      background-color: transparent;
      border:none;
      padding-bottom: 5px;
      color:white;
  }

  #email::placeholder
  {
      color:#F0AD4E;
  }

  #subscribe{
      font-size : 72px;
      font-weight: 100;
  }

  #right-side
  {
      margin-top : 60px;
  }

  .spacing {
      margin-top: 20px;
  }

  #email-form{
      margin-top : 40px;
  }

  .skull{
      opacity: 70%;
      border-radius: 20%;
  }

  .footer-link{
      list-style: none;
  }

  .footer-font{
    font-family: Arial;
    font-size: 12px;
    display:inline;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration: none;
    color:white;
}

.footer-margin
{
    margin-top: 60px;
    padding-bottom:40px;
}

